<app-navbar></app-navbar>

<main class="mt-10 flex flex-col gap-12">
    <section class="flex  justify-center">
        <div class="">
            <div class="relative">
                <img class="w-[350px] h-[200px] sm:w-[550px] sm:h-[300px] md:w-[670px] md:h-[350px] lg:w-[900px] object-cover rounded-xl" src="../../../assets/Banner(1).png" alt="">            
                <!-- Dark overlay -->
                <div class="absolute inset-0 bg-black opacity-50 rounded-xl"></div>
                <div class="absolute mt-12 sm:pt-24   text-xl sm:text-2xl md:text-4xl font-bold inset-0 flex  items-center justify-center">
                    <p class="absolute  text-white text-center">Find a religios partner <br> of your choice</p>

                </div>
            </div>                 
        </div>
    </section>

    <section class="mt-10 flex justify-center">
        <div class="flex gap-16 pr-32">
            <img class="w-[400px] h-[450px]" src="../../../assets/Rectangle 7.png" alt="">
            <div class="w-[800px] flex flex-col gap-7 justify-center">
                <p id="newprofile" class=" text-4xl font-semibold " >Creat a new profile</p>
                <p class=" text-2xl leading-[40px] whitespace-normal">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim dicta similique harum, sapiente atque illo omnis perspiciatis molestiae libero fuga maiores excepturi reiciendis rerum vero, iusto at hic, quis nesciunt nobis quasi debitis vel ab commodi. Ea recusandae earum fugit tenetur nesciunt! Magni, quibusdam at commodi laboriosam est aspernatur placeat.</p>
                <button class="w-[180px] h-[60px] rounded-full bg-[#D91275] text-white text-xl ">Register now</button>
            </div>

        </div>
    </section>

    <section class="mt-10">
        <div class="w-screen h-[450px] bg-[#FFEBE0] flex flex-col justify-center items-center gap-7">
            <div>
                <p id="get-ready" class="text-4xl font-semibold">Get Ready With Us</p>
            </div>
            <div class="flex flex-row gap-28">
                <div class="flex flex-col items-center gap-4"> 
                    <img class="w-[200px]" src="../../../assets/Ellipse 4.png" alt="">
                    <p class="text-2xl font-semibold">4512+</p>
                    <p id="biodatas" class="text-2xl">Groom & Brid's Biodata</p>
                </div>
                <div class="flex flex-col items-center gap-4">
                    <img class="w-[200px]" src="./assets/Ellipse 3.png" alt="">
                    <p class="text-2xl font-semibold">1881+</p>
                    <p id="biodatas" class="text-2xl">Groom's Biodata</p>
                </div>
                <div class="flex flex-col items-center gap-4">
                    <img class="w-[200px]" src="./assets/Ellipse 2.png" alt="">
                    <p class="text-2xl font-semibold">2629+</p>
                    <p id="biodatas" class="text-2xl">Bride's Biodata</p>
                </div>
                <div class="flex flex-col items-center gap-4">
                    <img class="w-[200px]" src="./assets/Ellipse 1.png" alt="">
                    <p class="text-2xl font-semibold">1190+</p>
                    <p id="biodatas" class="text-2xl">Successful Niqas</p>
                </div>
            </div>
        </div>

    </section>

    <section class="flex flex-row justify-center gap-32 mt-11" data-aos="fade-up">
        <div class="flex flex-col gap-10 justify-center">
            <p id="key-features" class="text-6xl font-semibold">Key Features</p>
            <p id="key-features-para" class="text-2xl">We made it easy for user to get a great experience <br>
                about biodata
            </p>
            <div class="flex flex-col gap-8">
                <div class="flex flex-row gap-3 items-center">
                   <p class="arrow-svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#D91275" class="w-6 h-6">
                      <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
                     </svg>
                    </p>
                    <p id="features" class="text-2xl">Easily can search biodatas.</p>
                </div>
                <div class="flex flex-row items-center gap-3">
                    <p class="arrow-svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#D91275" class="w-6 h-6">
                      <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
                     </svg>
                    </p>
                    <p id="features" class="text-2xl">Can find biodata from specific area. </p>
                </div>
                <div class="flex flex-row items-center gap-3">
                    <p class="arrow-svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#D91275" class="w-6 h-6">
                     <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
                     </svg>
                    </p>
                    <p id="features" class="text-2xl">Filters for age, education and much more. </p>
                </div>
                <div class="flex flex-row items-center gap-3">
                  <p class="arrow-svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#D91275" class="w-6 h-6">
                     <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
                     </svg>
                   </p>
                   <p id="features" class="text-2xl">Reasonable pricing and packages.</p>
                </div>
                <div class="flex flex-row items-center gap-3" >
                  <p class="arrow-svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#D91275" class="w-6 h-6">
                     <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
                    </svg>
                   </p>
                   <p id="features" class="text-2xl">Quick support responses.</p>
                </div>
                
            </div>
            
        </div>
        <div class="relative">
            <p class="absolute top-[250px] left-[230px]"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#D91275" class="w-16 h-16">
                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm14.024-.983a1.125 1.125 0 0 1 0 1.966l-5.603 3.113A1.125 1.125 0 0 1 9 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113Z" clip-rule="evenodd" />
              </svg>
            </p>
            <img class="feature-banner" src="./assets/Rectangle 7.png" alt="">
        </div>

    </section>

    <section>
        <div class="flex flex-col items-center gap-16">
            <div class="nikah-works-healine">
                <p id="nikah-works" class="text-6xl font-semibold">How nikah works</p>
                <p id="very-easy" class="text-xl text-center">A very easy 4 step process to find your partner.</p>
            </div>
            <div class="flex flex-row gap-12">
                <div class="flex flex-col gap-5">
                    <div class="nikah-steps-1">
                        <p id="one" class="text-6xl text-[#e9b2cd] ">1</p>
                        <p class="step-1st">Create Biodata</p>
                        <p class="text-xl w-[400px]        step-1st-dtls">You can easily create a biodata on 
                            Nikah completely free of cost 
                            within some steps.
                        </p>
                    </div>
                    <div class="nikah-steps-2">
                        <p id="two" class="text-6xl text-[#e9b2cd]">2</p>
                        <p class="step-2nd">Search Biodata</p>
                        <p class="text-xl w-[400px]       step-2nd-dtls">You can easily search biodata using 
                            many filters including age, profession, 
                            educational qualification, madhhab 
                            and more.
                        </p>
                    </div>
                </div>
                <img class="how-nikah-img" src="./assets/how niqah 1.png" alt="">
                <div class="flex flex-col gap-6">
                    <div class="">
                        <p id="three" class="text-6xl text-[#e9b2cd]">3</p>
                        <p class="step-3rd">Contact with Guardians</p>
                        <p class="text-xl w-[400px]      step-3rd-dtls">If someone likes your biodata or you like 
                            someone's biodata, you can directly 
                            contact their parents.
                        </p>
                    </div>
                    <div class="">
                        <p id="four" class="text-6xl text-[#e9b2cd]">4</p>
                        <p class="step-4th">Get Married</p>
                        <p class=" text-xl w-[400px]      step-4th-dtls" >If you like the biodata and if you thin 
                            conversation is well, do your own inquiry 
                            & get married according to sunnah
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

   
</main>