#newprofile{
    font-family: 'Poppins', sans-serif;
    // font-size: larger;
}
#get-ready{
    font-family: 'Poppins', sans-serif;
}
#biodatas{
    font-family: 'Poppins', sans-serif;

}
#key-features{
    font-family: 'Poppins', sans-serif;
}
#key-features-para{
    font-family: 'Poppins', sans-serif;
}
#features{
    font-family: 'Poppins', sans-serif;
}
#nikah-works , #very-easy{
    font-family: 'Poppins', sans-serif;
}
#one, #two ,#three,#four{
    font-family: 'Montagu Slab', serif;
}
.step-1st ,.step-2nd , .step-3rd,.step-4th{
    font-family:  'Poppins', sans-serif;
}
.step-1st-dtls,.step-2nd-dtls,.step-3rd-dtls,.step-4th-dtls{
    font-family:  'Poppins', sans-serif; 
    // font-size: small;
  
    font-weight: 300;
}