<main class="w-screen h-[80px] bg-red-100 flex items-center justify-center">
    <nav class="flex flex-row items-center justify-between w-[1800px] ">
       <img class="w-[160px]" src="../../../assets/mynikkahlogo.png" alt="">

        <div>
            <ul class="flex flex-row gap-12 text-xl  items-center">
                <li class="hover:text-rose-800">Home</li>
                <li class="hover:text-rose-800">About Us</li>
                <li class="hover:text-rose-800"> Profile</li>
                <button class="text-white h-[40px] text-lg font-bold w-[100px] rounded-lg bg-violet-900">Login</button>
            </ul>
        </div>
    </nav>
</main>